.authorization{
  display: flex;
  justify-content: center;
  &__container{
    margin-top: 10%;
    background-color: #fff;
    border-radius: 5px;
    width: 30%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__text{
    text-align: center;
    font-weight: 700;
  }
  &__input{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px){
  .authorization__container{
    width: 90%;
  }
}